    <!-- <xy-tab-group>
      <xy-tab label="First"> Content 1 </xy-tab>
      <xy-tab label="Second" disabled> Content 2 </xy-tab>
      <xy-tab label="Third"> Content 3 </xy-tab>
    </xy-tab-group> -->
    <div class="box unicorn-dark-theme">
      <app-button-example></app-button-example>
    </div>
    <div class="box unicorn-dark-theme">
      <app-slide-toggle-example></app-slide-toggle-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-checkbox-example></app-checkbox-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-radio-example></app-radio-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-input-example></app-input-example>
    </div>
    <div class="box">
      <app-select-example></app-select-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-typography-example></app-typography-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-card-example></app-card-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-dialog-example></app-dialog-example>
    </div>
    <div class="box unicorn-light-theme">
      <app-elevation-example></app-elevation-example>
    </div>
