<div class="example-container" [class.mat-elevation-z1]="true">
  Elevation 1
</div>
<div class="example-container" [class.mat-elevation-z2]="true">
  Elevation 2
</div>
<div class="example-container" [class.mat-elevation-z3]="true">
  Elevation 3
</div>
<div class="example-container" [class.mat-elevation-z4]="true">
  Elevation 4
</div>
<div class="example-container" [class.mat-elevation-z5]="true">
  Elevation 5
</div>
<div class="example-container" [class.mat-elevation-z6]="true">
  Elevation 6
</div>
<div class="example-container" [class.mat-elevation-z7]="true">
  Elevation 7
</div>
<div class="example-container" [class.mat-elevation-z8]="true">
  Elevation 8
</div>
<div class="example-container" [class.mat-elevation-z9]="true">
  Elevation 9
</div>
<div class="example-container" [class.mat-elevation-z10]="true">
  Elevation 10
</div>
<div class="example-container" [class.mat-elevation-z11]="true">
  Elevation 11
</div>
<div class="example-container" [class.mat-elevation-z12]="true">
  Elevation 12
</div>
<div class="example-container" [class.mat-elevation-z13]="true">
  Elevation 13
</div>
<div class="example-container" [class.mat-elevation-z14]="true">
  Elevation 14
</div>
<div class="example-container" [class.mat-elevation-z15]="true">
  Elevation 15
</div>
<div class="example-container" [class.mat-elevation-z16]="true">
  Elevation 16
</div>
<div class="example-container" [class.mat-elevation-z17]="true">
  Elevation 17
</div>
<div class="example-container" [class.mat-elevation-z18]="true">
  Elevation 18
</div>
<div class="example-container" [class.mat-elevation-z19]="true">
  Elevation 19
</div>
<div class="example-container" [class.mat-elevation-z20]="true">
  Elevation 20
</div>
<div class="example-container" [class.mat-elevation-z21]="true">
  Elevation 21
</div>
<div class="example-container" [class.mat-elevation-z22]="true">
  Elevation 22
</div>
<div class="example-container" [class.mat-elevation-z23]="true">
  Elevation 23
</div>
<div class="example-container" [class.mat-elevation-z24]="true">
  Elevation 24
</div>
