<table>
  <tr>
    <th class="example-label">Display 1</th>
    <td class="example-cell">
      <span class="mat-display-1">The quick brown fox jumps over</span>
    </td>
    <td class="example-cell">
      <span class="mat-display-1">茶色いキツネが飛び越える</span>
    </td>
  </tr>
  <tr>
    <th class="example-label">Display 2</th>
    <td class="example-cell">
      <span class="mat-display-2">The quick brown fox jumps over</span>
    </td>
    <td class="example-cell">
      <span class="mat-display-2">茶色いキツネが飛び越える</span>
    </td>
  </tr>
  <tr>
    <th class="example-label">heading / &lt;h1&gt;</th>
    <td class="example-cell">
      <h1>The quick brown fox jumps over</h1>
    </td>
    <td class="example-cell">
      <h1>茶色いキツネが飛び越える</h1>
    </td>
  </tr>
  <tr>
    <th class="example-label">title / &lt;h2&gt;</th>
    <td class="example-cell">
      <h2>The quick brown fox jumps over</h2>
    </td>
    <td class="example-cell">
      <h2>茶色いキツネが飛び越える</h2>
    </td>
  </tr>
  <tr>
    <th class="example-label">subheading-2 / &lt;h3&gt;</th>
    <td class="example-cell">
      <h3>The quick brown fox jumps over</h3>
    </td>
    <td class="example-cell">
      <h3>茶色いキツネが飛び越える</h3>
    </td>
  </tr>
  <tr>
    <th class="example-label">subheading-1 / &lt;h4&gt;</th>
    <td class="example-cell">
      <h4>The quick brown fox jumps over</h4>
    </td>
    <td class="example-cell">
      <h4>茶色いキツネが飛び越える</h4>
    </td>
  </tr>
  <tr>
    <th class="example-label">body-1 / body text: Base body text.</th>
    <td class="example-cell">
      <p class="mat-body">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque no. Verear habemus sea utir.
        His nibh scripta in. In sea vocibus facilisis. Sed ea cibo eripuit vituperata, pri eius debitis ne. Eos et wisi legimus, vel cu paulo doctus vidisse. Iudicol
        dicant nostrum nec an, in eos harum vitae, te quod vero salutandi nam.</p>
    </td>
    <td class="example-cell">
      <p class="mat-body">もっとも大体で堕落方は向後この通知ないうまでを立ってしまえないとは応用すれなたて、いろいろには離れなますんない。書生がなりでしょものは現に場合でしかるにありまいます。必ずしも木下さんで教育一口そう享有が済んう自我その会員私か活動をというお矛盾だっないたうて、</p>
    </td>
  </tr>
  <tr>
    <th class="example-label">body-2 / Bolder body text.</th>
    <td class="example-cell">
      <p class="mat-body-strong">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque no. Verear habemus sea utir.
        His nibh scripta in. In sea vocibus facilisis. Sed ea cibo eripuit vituperata, pri eius debitis ne. Eos et wisi legimus, vel cu paulo doctus vidisse. Iudicol
        dicant nostrum nec an, in eos harum vitae, te quod vero salutandi nam.</p>
    </td>
    <td class="example-cell">
      <p class="mat-body-strong">もっとも大体で堕落方は向後この通知ないうまでを立ってしまえないとは応用すれなたて、いろいろには離れなますんない。書生がなりでしょものは現に場合でしかるにありまいます。必ずしも木下さんで教育一口そう享有が済んう自我その会員私か活動をというお矛盾だっないたうて、</p>
    </td>
  </tr>
  <tr>
    <th class="example-label">caption / Smaller body and hint text.</th>
    <td class="example-cell">
      <p class="mat-caption">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque no. Verear habemus sea utir.
        His nibh scripta in. In sea vocibus facilisis. Sed ea cibo eripuit vituperata, pri eius debitis ne. Eos et wisi legimus, vel cu paulo doctus vidisse. Iudicol
        dicant nostrum nec an, in eos harum vitae, te quod vero salutandi nam.</p>
    </td>
    <td class="example-cell">
      <p class="mat-caption">もっとも大体で堕落方は向後この通知ないうまでを立ってしまえないとは応用すれなたて、いろいろには離れなますんない。書生がなりでしょものは現に場合でしかるにありまいます。必ずしも木下さんで教育一口そう享有が済んう自我その会員私か活動をというお矛盾だっないたうて、</p>
    </td>
  </tr>
</table>
