<h2>General</h2>
<xy-tab-group (tabChange)="onMyEvent()">
  <xy-tab label="First" icon="delete"> 
      <h4>
        Tab 1
      </h4>  
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi est totam libero voluptatem adipisci aut, minus blanditiis debitis numquam ducimus atque! Assumenda modi, nostrum vitae rerum error eveniet mollitia culpa!
      </p>
      <xy-button icon="check" color="accent">
          Action
      </xy-button>
  </xy-tab>
  <xy-tab label="Second" icon="check">
    <h4>
      Tab 2
    </h4>  
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi est totam libero voluptatem adipisci aut, minus blanditiis debitis numquam ducimus atque!
    </p>
    <xy-button icon="check" color="accent">
        Action
    </xy-button>
  </xy-tab>
  <xy-tab label="Third" icon="edit">
    <h4>
      Tab 3
    </h4>  
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi est totam libero voluptatem 
    </p>
    <xy-button icon="check" color="accent">
        Action
    </xy-button>
  </xy-tab>
</xy-tab-group>


<br><br><br>

<h2>Basic Tabs</h2>
<xy-tab-group >
  <xy-tab label="First"> Content 1 </xy-tab>
  <xy-tab label="Second"> Content 2 </xy-tab>
  <xy-tab label="Third"> Content 3 </xy-tab>
</xy-tab-group>

<br><br><br>

<h2>Disable item</h2>
<xy-tab-group >
  <xy-tab label="First"> Content 1 </xy-tab>
  <xy-tab label="Second" disabled> Content 2 </xy-tab>
  <xy-tab label="Third"> Content 3 </xy-tab>
</xy-tab-group>

<br><br><br>

<h2>Disable all tabs</h2>
<xy-tab-group>
  <xy-tab label="First" disabled> Content 1 </xy-tab>
  <xy-tab label="Second" disabled> Content 2 </xy-tab>
  <xy-tab label="Third" disabled> Content 3 </xy-tab>
</xy-tab-group>