<table>
  <!-- Small and Large -->
    <tr>
      <th class="example-label">Text Badge Sizes</th>
      <td class="example-button-row">
          <xy-badge matBadge="3" size="large" color="accent" class="default-accent">Large badge</xy-badge>
      </td>
      <td class="example-button-row">
        <xy-badge matBadge="3" size="medium"  color="accent" class="default-accent">Medium badge</xy-badge>
      </td>   
    </tr>
    <tr>
        <th class="example-label">Button with badge</th>
        <!-- ACCENT BUTTON  -->
        <td class="example-button-row">
          <xy-badge matBadge="3" size="medium"  color="accent" class="accent-badge">
            <xy-button standard-button color="accent" >Button</xy-button>
          </xy-badge>
        </td>
        <td class="example-button-row">
          <xy-badge matBadge="3" size="medium"  color="accent" class="outline-accent-badge">
            <xy-button light-weight-button color="accent" >Button</xy-button>
          </xy-badge>
        </td>
        <td class="example-button-row">
          <xy-badge matBadge="3" size="medium"  color="accent" class="outline-accent-badge">
            <xy-button light-weight-button icon="settings" color="accent" >Button</xy-button>
          </xy-badge>
        </td>
        
        <!-- accent button -->
        <td class="example-button-row">
          <xy-badge matBadge="3" size="medium"  color="accent" class="accent-badge">
            <xy-button standard-button color="accent">Button</xy-button>
          </xy-badge>
        </td>
        <!-- error -->
        <td class="example-button-row">
          <xy-badge matBadge="3" size="medium"  color="error" class="default-warn">
            <xy-button standard-button icon="settings" color="error">Button</xy-button>
          </xy-badge>
        </td>
    </tr>
     <!-- Icon Badge -->
     <tr>
        <th class="example-label">Icon with a badge</th>
        <td class="example-button-row">
            <xy-badge matBadge="3"  size="small" color="warn" class="default-warn">
              <mat-icon>notifications_none</mat-icon>
            </xy-badge>
        </td>
    </tr>
    <!--Inverted Icon Badge -->
    <tr>
      <th class="example-label">Icon with a Badge (Inverted)</th>
      <td class="example-button-row xy-blue">
          <xy-badge matBadge="3"  size="small" color="warn" class="inverted-badge">
            <mat-icon>notifications_none</mat-icon>
          </xy-badge>
      </td>
  </tr>
    
   
  
</table>



