
table, td, th {
    border-spacing: 0px;
}
tr{
    display: block;
    margin-top: 16px;
}
td{
    margin-bottom: 10px;
    text-align: left;
}


.xy-blue{
    padding: 15px;
    border-radius: 4px;
    width: 30px;
}