


<table>
    <tr>
        <th class="example-label"> 
           Default State
        </th>
        <td class="example-button-row">
            <xy-slider aria-label="unit" min="0" step="5" label="Default Slider"  max="100" color="accent" ></xy-slider>
        </td>    
    </tr>
    <tr>
        <th class="example-label"> 
            Hover, Focus State
        </th>
        <td class="example-button-row">
            <xy-slider aria-label="unit" label="Hover and Focus"  color="accent"></xy-slider>
        </td>   
    </tr>
    <tr>
        <th class="example-label"> 
            Disable State
        </th>
        <td class="example-button-row">
            <xy-slider aria-label="unit"   max="100"  color="accent"  label="Disabled"  value="50" [disabled]=true></xy-slider>
        </td> 
    </tr>
</table> 

 