<div class="tooltip-example">
   <div>
    <xy-button color="accent" [tooltip]="'Right Tooltip'" placement="right">tootip on right</xy-button>
   </div>
   <br><br>
   <div>
    <xy-button color="accent" [tooltip]="'Top Tooltip'" placement="top">tootip on top</xy-button>
   </div>
   
   <br><br>

   <div>
      <xy-button color="accent" [tooltip]="'Left Tooltip'" placement="left">tootip on left</xy-button>
   </div>

   <br><br>

   <div>
      <xy-button color="accent" [tooltip]="'Bottom Tooltip'" placement="bottom">tootip on bottom</xy-button>
   </div>
</div>

